<div class="row">
  <div ng-repeat="column in columns" class="col-xs-12 col-sm-6 col-md-6">
    <div class="row form-group" ng-repeat="question in getQuestions(currentFormId, columns.length, column)" ng-switch="question.type">
      <h4 class="col-xs-12">{{question.text}}</h4>
      <div ng-switch-when="checkbox" class="switches col-xs-12 clearfix">
        <switch color="success" ng-model="inspection_responses[currentFormId][question.id]" data-on-text="{{question.options.okValue}}" data-off-text="{{question.options.cancelValue}}">
        </switch>
      </div>
      <div ng-switch-when="range" class="slider-box col-xs-12">
        <ion-slider type="single" grid="true" min="question.options.minValue" max="question.options.maxValue" from="question.options.defaultValue" step="1" disable="false">
        </ion-slider>
      </div>
      <div ng-switch-default class="col-xs-12">
        <textarea class="form-control" ng-model="inspection_responses[currentFormId][question.id]">
        </textarea>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <hr/>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group pull-left">
      <a class="btn btn-default" ng-click="previous()" ng-if="!isFirstPage">
        Previous
      </a>
    </div>
    <div class="form-group pull-right">
      <button class="btn btn-primary" type="submit" ng-disabled="isLastPage && isSubmitting">
        {{isLastPage ? "Submit" : "Next"}}
      </button>
    </div>
  </div>
</div>