<div class="row">
  <div class="col-sm-6 col-md-4 form-group" ng-if="isAdmin">
    <label for="driver">
      Driver*
    </label>
    <ui-select ng-model="drivers.selected" theme="bootstrap" required="">
      <ui-select-match placeholder="Driver..">
        {{$select.selected.fullname}}
      </ui-select-match>
      <ui-select-choices repeat="item in drivers.list | filter: $select.search">
        {{item.fullname}}
        <div ng-if="$index == $select.items.length-1 && drivers.hasMore">
          <button class="btn btn-xs btn-danger btn-noscale" ng-disabled="drivers.loading" ng-mouseover="fetchDrivers($select, $event);" style="width: 100%; margin-top: 5px;">
            Load more...
          </button>
        </div>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="col-sm-6 col-md-8 form-group" ng-show="!isAdmin || drivers.selected">
    <label>B2B Customer*</label>
    <ui-select ng-model="b2b_customers.selected" theme="bootstrap" required="">
      <ui-select-match placeholder="B2B Customer..">
        {{$select.selected.fullname}}
      </ui-select-match>
      <ui-select-choices repeat="item in b2b_customers.list | filter: $select.search">
        {{item.fullname}}({{item.email}})
      </ui-select-choices>
    </ui-select>
    <br/>
    <label>Location*</label>
    <ui-select ng-model="b2b_assignments.selected" theme="bootstrap" required="">
      <ui-select-match placeholder="Location of the Customer..">
        {{$select.selected.parking_address}}
      </ui-select-match>
      <ui-select-choices repeat="item in b2b_assignments.list | filter: $select.search">
        {{item.parking_address}}
        <div ng-if="$index == $select.items.length-1">
          <button class="btn btn-xs btn-primary btn-noscale" ui-sref="b2bfuel.new-location" style="width: 100%; margin-top: 5px;">
            Add New...
          </button>
        </div>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
<div class="row">
  <hr/>
</div>
<div class="row" ng-show="!isAdmin || drivers.selected" ng-repeat="refill in b2b_refills track by $index">
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="form-group">
      <ui-select ng-model="refill.selected" theme="bootstrap" ng-hide="refill.selected && !refill.selected.tag">
        <ui-select-match placeholder="Plate Number..">
          {{$select.selected.tag}}
        </ui-select-match>
        <ui-select-choices repeat="vehicle in getVehiclesUnfilled(refill.selected) | filter: $select.search">
          {{vehicle.tag}}
          <div ng-if="$index == $select.items.length-1">
            <button class="btn btn-xs btn-danger btn-noscale" style="width: 100%; margin-top: 5px;">
              Add New...
            </button>
          </div>
        </ui-select-choices>
      </ui-select>
      <input class="form-control" type="text" ng-model="refill.tag" placeholder="New Plate Number" ng-show="refill.selected && !refill.selected.tag" ng-required="refill.selected && !refill.selected.tag">
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="form-group">
      <input class="form-control" type="tel" ng-model="refill.gallon" placeholder="Gallons" ng-required="$index < b2b_refills.length - 1" step="0.01">
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="form-group">
      <label class="radio-inline custom-radio nowrap gas-type">
        <input type="radio" name="gas_type_{{$index}}" ng-model="refill.gas_type" value="87">
        <span>87</span>
      </label>
      <label class="radio-inline custom-radio nowrap gas-type">
        <input type="radio" name="gas_type_{{$index}}" ng-model="refill.gas_type" value="93">
        <span>93 (Gas Type)</span>
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group pull-right">
      <button class="btn btn-primary" type="submit" ng-disabled="isValidatingForm || !b2b_data || !b2b_refills || b2b_refills.length <= 1">
        Next
      </button>
    </div>
  </div>
</div>