.table-panel {
  height: 295px;
}

.table-row-clickable {
  cursor: pointer;
}

td.active {
  color: $success;
}

td.currency.none {
	color: transparent;

  &:before {
    content: "-";
    color: $default-text;
  }
}