<div class="widgets">
  <div class="row">
    <div class="col-md-12 hide-nav">
      <div ba-panel ba-panel-title="B2B Data Entry" ba-panel-class="col-eq-height">
        <ba-wizard>
          <ba-wizard-step title="Report Form" form="dataEntryForm" mute-title>
            <form name="dataEntryForm" ng-submit="next()">
              <div include-with-scope="app/pages/b2bfuel/widgets/form-dataentry.html"></div>
            </form>
          </ba-wizard-step>
          <ba-wizard-step title="Review Page" form="reviewForm" mute-title>
            <div include-with-scope="app/pages/b2bfuel/widgets/form-review.html"></div>
          </ba-wizard-step>
        </ba-wizard>
      </div>
    </div>
  </div>
</div>