<div class="horizontal-scroll">
  <div class="add-row-editable-table">
    <button class="btn btn-primary" ng-click="addOrder()">Add a New Order</button>
  </div>
  <div class="form-group select-page-size-wrap ">
    <label>Orders per page
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="pagination.perPage" ng-options="i for i in pagination.perPagePresets">
      </select>
    </label>
  </div>
  <table class="table">
    <thead>
    <tr class="sortable ">
      <th class="table-id" >#</th>
      <th>User</th>
      <th>Gas Type</th>
      <th>Gallons</th>
      <th>Parking Address</th>
      <th>Created At</th>
      <th>To Deliver On</th>
      <th>Delivered On</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="order in pagination.items">
      <td class="table-id">{{order.id}}</td>
      <td><a href="" ng-click="viewUser(order.user.id)">{{order.user.email}}</a></td>
      <td>{{order.gas_type}}</td>
      <td>{{order.gallons}}</td>
      <td>{{order.parking_address}}</td>
      <td>{{order.created | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
      <td>{{order.to_deliver_on}}</td>
      <td>{{order.delivered_on | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
      <td>
        <button class="status-button btn btn-xs btn-primary btn-noscale" ng-if="order.status == 10">Complete</button>
        <button class="status-button btn btn-xs btn-warning btn-noscale" ng-if="order.status == 5">Canceled</button>
        <button class="status-button btn btn-xs btn-default btn-noscale" ng-if="order.status != 10 && order.status != 5">Pending</button>
      </td>
      <td>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-primary editable-table-button btn-xs" ng-click="editOrder(order)">Edit</button>
          <button class="btn btn-danger editable-table-button btn-xs" ng-click="deleteOrder(order.id)">Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="9" class="text-center">
        <bgf-pagination url="pagination.apiUrl" url-params="pagination.urlParams" auto-presets="false" collection="pagination.items" page="pagination.page" per-page="pagination.perPage" per-page-presets="pagination.perPagePresets" link-group-size="2" template-url="app/pages/orders/paginate/paginate-orders.html"></bgf-pagination>
      </td>
    </tr>
    </tfoot>
  </table>
</div>