<div class="widgets">
  <div ba-panel ba-panel-title="Assign User Roles" ba-panel-class="with-scroll">
    <form name="userForm" ng-submit="assignUserRoles()" novalidate>
      <div class="row">
        <div class="col-md-12">
          <b>Role: </b> {{role.name}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <b>Description: </b> {{role.description}}
        </div>
        <hr/>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <label for="from">
            Available Users
          </label>
          <select name="from[]" class="multiselect form-control" size="12" multiple="multiple" data-right="#multiselect_to_1" data-right-all="#right_All_1" data-right-selected="#right_Selected_1" data-left-all="#left_All_1" data-left-selected="#left_Selected_1">
            <option ng-repeat="option in available_users" value="{{option.id}}">{{option.email}}</option>
          </select>
        </div>
        <div class="col-sm-2">
          <label for="from">
          </label>
          <button type="button" id="right_All_1" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
          <button type="button" id="right_Selected_1" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
          <button type="button" id="left_Selected_1" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
          <button type="button" id="left_All_1" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
        </div>
        <div class="col-sm-5">
          <label for="from">
            Assigned Users
          </label>
          <select name="to[]" id="multiselect_to_1" class="form-control" size="12" multiple="multiple">
            <option ng-repeat="option in role.users" value="{{option.id}}">{{option.email}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <hr/>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group pull-right">
            <button class="btn btn-primary" type="submit" ng-disabled="isSubmitting">
              Save
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>