<div class="widgets">
  <div ba-panel ba-panel-title="Give credits to Users" ba-panel-class="with-scroll">
    <form name="creditForm" ng-submit="submit()">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-sm-5">
              <label for="from">
                Available Users
              </label>
              <select name="from[]" class="multiselect form-control" size="12" multiple="multiple" data-right="#multiselect_to_1" data-right-all="#right_All_1" data-right-selected="#right_Selected_1" data-left-all="#left_All_1" data-left-selected="#left_Selected_1">
                <option ng-repeat="option in available_users" value="{{option.id}}">{{option.email}}</option>
              </select>
            </div>
            <div class="col-sm-2">
              <label for="from">
              </label>
              <button type="button" id="right_All_1" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
              <button type="button" id="right_Selected_1" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
              <button type="button" id="left_Selected_1" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
              <button type="button" id="left_All_1" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
            </div>
            <div class="col-sm-5">
              <label for="from">
                Users to be credited
              </label>
              <select name="to[]" id="multiselect_to_1" class="form-control" size="12" multiple="multiple">
                <option ng-repeat="option in assigned_users" value="{{option.id}}">{{option.email}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <hr/>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="title">
                  Amount
                </label>
                <input class="form-control" id="amount" ng-model="credit.amount" placeholder="Amount" type="tel" step="0.01">
                </input>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="reason">
                  Reason*
                </label>
                <textarea class="form-control push-message" id="reason" name="reason" ng-model="credit.reason" placeholder="Reason to give credits" required="">
                </textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <button class="btn btn-primary pull-right" type="submit" ng-disabled="isSending">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>